<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Intergraph.UX.WPF.Toolkit" version="6.1.13" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="SharpDX" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.D3DCompiler" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D10" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="2.5.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="2.5.0" targetFramework="net48" />
  <package id="UI.for.UXT.Multi" version="2021.1.325" targetFramework="net48" />
</packages>